.game-container {
  display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding: 10px;
  height: 600px;
  width: 600px;
}
.square-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.won {
  background-color: greenyellow;
}
.bottom-container {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.m20 {
  margin: 20px;
}

.m5 {
  margin: 5px;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.f30 {
  font-size: 30px;
}

.disable {
  opacity: 0.6;
  pointer-events: none;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

.bg-container {
  background-color: #2196F3;
}

.bold {
  font-weight: bold;
}